@import url("../src/vendor/null-style.css");
@import url("./vendor/fonts/fonts.css");

.page {
  font-family: "Montserrat", Arial, sans-serif;
  max-width: 1920px;
  min-width: 310px;
  margin: 0 auto;
  background: rgb(18, 18, 18);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}
